.categories {
    margin-top: 1.5rem;
  }
  
  .categoryTitle {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .categoryItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    gap: 0.75rem;
    margin: 1rem 1rem;
    padding: 1rem 0rem 1rem 1.5rem;
    border-radius: 10px;
  }
  
  .categoryItem:hover {
    background-color: #a3bcd3;
  }
  
  .categoryItem.active {
    color:#fff;
    background-color: #0099da;
  }
  
  .icon {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #4a5568;
  }
  
  .categoryItem.active .icon {
    color: #fff;
  }

  /* .categoryItem:hover .icon {
  } */
  