.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100vh;
    background-color: #f4f7fe;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.08);
    overflow-y: auto;
    z-index: 999;
    margin-top: var(--header-height);
    transition: transform 0.3s ease;
}

.hidden {
    transform: translateX(-100%);
}

@media (max-width: 1400px) {
    .sidebar {
        transform: translateX(-100%);
    }
    
    .sidebar:not(.hidden) {
        transform: translateX(0);
    }
}

.categories {
    padding: 0.5rem;
}

.categoryTitle {
    font-weight: 700;
    font-size: 1.25rem;
    padding: 1rem;
}

.toggleButton {
    display: none;
}
