.categories {
    margin-top: 1.5rem;
  }
  
  .categoryTitle {
    font-size: 1.25rem;
    font-weight: 700;
    padding: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .categoryItem {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease;
    gap: 0.75rem;
    margin: 0.3rem 0.75rem;
    padding: 0.75rem 1rem;
    border-radius: 100px;
    background-color: #f4f7fe;
    border: none;
  }
  
  .categoryItem:hover {
    background-color: #a3bcd3;
    transform: translateY(-1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .categoryItem.active {
    color: #fff;
    background-color: #0099da;
    font-weight: 500;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    border: none;
  }
  
  .icon {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    color: #4a5568;
  }
  
  .categoryItem.active .icon {
    color: #fff;
  }

  /* .categoryItem:hover .icon {
  } */
  
  /* Admin 버튼 스타일 */
  .adminItem {
    margin-top: auto;  /* 맨 아래로 밀기 */
    background-color: #4285f4;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    transition: all 0.2s ease;
  }

  .adminItem:hover {
    background-color: #3367d6;
  }
  